In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [2]:
clean2015 = pd.read_csv("https://raw.githubusercontent.com/hajaf/final-Project/Clarissa/cleaned_2015.csv")

In [3]:
clean2016 = pd.read_csv("https://raw.githubusercontent.com/hajaf/final-Project/Clarissa/cleaned_2016.csv")

In [4]:
print(clean2015)

         Country                           Region  Ranking  Score  Economy  \
0    Switzerland                   Western Europe        1  7.587    1.397
1        Iceland                   Western Europe        2  7.561    1.302
2        Denmark                   Western Europe        3  7.527    1.325
3         Norway                   Western Europe        4  7.522    1.459
4         Canada                    North America        5  7.427    1.326
..           ...                              ...      ...    ...      ...
146       Rwanda               Sub-Saharan Africa      154  3.465    0.222
147        Benin               Sub-Saharan Africa      155  3.340    0.287
148        Syria  Middle East and Northern Africa      156  3.006    0.663
149      Burundi               Sub-Saharan Africa      157  2.905    0.015
150         Togo               Sub-Saharan Africa      158  2.839    0.209

     Family  Health  Freedom    Trust  Generosity  Dystopia_Residual
0     1.350   0.941  0.66557  0.41978     0.29678            2.51738
1     1.402   0.948  0.62877  0.14145     0.43630            2.70201
2     1.361   0.875  0.64938  0.48357     0.34139            2.49204
3     1.331   0.885  0.66973  0.36503     0.34699            2.46531
4     1.323   0.906  0.63297  0.32957     0.45811            2.45176
..      ...     ...      ...      ...         ...                ...
146   0.774   0.429  0.59201  0.55191     0.22628            0.67042
147   0.354   0.319  0.48450  0.08010     0.18260            1.63328
148   0.475   0.722  0.15684  0.18906     0.47179            0.32858
149   0.416   0.224  0.11850  0.10062     0.19727            1.83302
150   0.140   0.284  0.36453  0.10731     0.16681            1.56726

[151 rows x 11 columns]

In [5]:
print(clean2016)

         Country                           Region  Ranking  Score  Economy  \
0        Denmark                   Western Europe        1  7.526    1.442
1    Switzerland                   Western Europe        2  7.509    1.527
2        Iceland                   Western Europe        3  7.501    1.427
3         Norway                   Western Europe        4  7.498    1.577
4        Finland                   Western Europe        5  7.413    1.406
..           ...                              ...      ...    ...      ...
146        Benin               Sub-Saharan Africa      153  3.484    0.395
147  Afghanistan                    Southern Asia      154  3.360    0.382
148         Togo               Sub-Saharan Africa      155  3.303    0.281
149        Syria  Middle East and Northern Africa      156  3.069    0.747
150      Burundi               Sub-Saharan Africa      157  2.905    0.068

     Family  Health  Freedom    Trust  Generosity  Dystopia_Residual
0     1.164   0.795  0.57941  0.44453     0.36171            2.73939
1     1.145   0.863  0.58557  0.41203     0.28083            2.69463
2     1.183   0.867  0.56624  0.14975     0.47678            2.83137
3     1.127   0.796  0.59609  0.35776     0.37895            2.66465
4     1.135   0.811  0.57104  0.41004     0.25492            2.82596
..      ...     ...      ...      ...         ...                ...
146   0.104   0.210  0.39747  0.06681     0.20180            2.10812
147   0.110   0.173  0.16430  0.07112     0.31268            2.14558
148   0.000   0.248  0.34678  0.11587     0.17517            2.13540
149   0.149   0.630  0.06912  0.17233     0.48397            0.81789
150   0.234   0.157  0.04320  0.09419     0.20290            2.10404

[151 rows x 11 columns]

In [6]:
clean2015.tail()

,Country,Region,Ranking,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
146,Rwanda,Sub-Saharan Africa,154,3.465,0.222,0.774,0.429,0.59201,0.55191,0.22628,0.67042
147,Benin,Sub-Saharan Africa,155,3.340,0.287,0.354,0.319,0.48450,0.08010,0.18260,1.63328
148,Syria,Middle East and Northern Africa,156,3.006,0.663,0.475,0.722,0.15684,0.18906,0.47179,0.32858
149,Burundi,Sub-Saharan Africa,157,2.905,0.015,0.416,0.224,0.11850,0.10062,0.19727,1.83302
150,Togo,Sub-Saharan Africa,158,2.839,0.209,0.140,0.284,0.36453,0.10731,0.16681,1.56726

In [7]:
clean2016.tail()

,Country,Region,Ranking,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
146,Benin,Sub-Saharan Africa,153,3.484,0.395,0.104,0.210,0.39747,0.06681,0.20180,2.10812
147,Afghanistan,Southern Asia,154,3.360,0.382,0.110,0.173,0.16430,0.07112,0.31268,2.14558
148,Togo,Sub-Saharan Africa,155,3.303,0.281,0.000,0.248,0.34678,0.11587,0.17517,2.13540
149,Syria,Middle East and Northern Africa,156,3.069,0.747,0.149,0.630,0.06912,0.17233,0.48397,0.81789
150,Burundi,Sub-Saharan Africa,157,2.905,0.068,0.234,0.157,0.04320,0.09419,0.20290,2.10404

In [8]:
clean2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            151 non-null    object
 1   Region             151 non-null    object
 2   Ranking            151 non-null    int64
 3   Score              151 non-null    float64
 4   Economy            151 non-null    float64
 5   Family             151 non-null    float64
 6   Health             151 non-null    float64
 7   Freedom            151 non-null    float64
 8   Trust              151 non-null    float64
 9   Generosity         151 non-null    float64
 10  Dystopia_Residual  151 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.1+ KB

In [9]:
clean2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            151 non-null    object
 1   Region             151 non-null    object
 2   Ranking            151 non-null    int64
 3   Score              151 non-null    float64
 4   Economy            151 non-null    float64
 5   Family             151 non-null    float64
 6   Health             151 non-null    float64
 7   Freedom            151 non-null    float64
 8   Trust              151 non-null    float64
 9   Generosity         151 non-null    float64
 10  Dystopia_Residual  151 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.1+ KB

In [10]:
clean2015.drop(["Region", "Country", "Ranking", "Generosity", "Dystopia_Residual"], axis=1,inplace=True)

In [11]:
clean2016.drop(["Region", "Country", "Ranking", "Generosity", "Dystopia_Residual"], axis=1,inplace=True)

In [12]:
clean2015.head()

   Score  Economy  Family  Health  Freedom    Trust
0  7.587    1.397   1.350   0.941  0.66557  0.41978
1  7.561    1.302   1.402   0.948  0.62877  0.14145
2  7.527    1.325   1.361   0.875  0.64938  0.48357
3  7.522    1.459   1.331   0.885  0.66973  0.36503
4  7.427    1.326   1.323   0.906  0.63297  0.32957

In [13]:
clean2016.head()

   Score  Economy  Family  Health  Freedom    Trust
0  7.526    1.442   1.164   0.795  0.57941  0.44453
1  7.509    1.527   1.145   0.863  0.58557  0.41203
2  7.501    1.427   1.183   0.867  0.56624  0.14975
3  7.498    1.577   1.127   0.796  0.59609  0.35776
4  7.413    1.406   1.135   0.811  0.57104  0.41004

In [14]:
#Slicing the data 
x_clean2015 = clean2015.drop(columns=["Score"]).values
y_clean2015 = clean2015.Score.values

In [15]:
x_clean2016 = clean2016.drop(columns=["Score"]).values
y_clean2016 = clean2016.Score.values

In [16]:
#train test split
from sklearn.model_selection import train_test_split
x_2015_train, x_2015_test, y_2015_train, y_2015_test = train_test_split(x_clean2015,y_clean2015, test_size=0.25, random_state=1)

In [17]:
#train test split
from sklearn.model_selection import train_test_split
x_2016_train, x_2016_test, y_2016_train, y_2016_test = train_test_split(x_clean2016,y_clean2016, test_size=0.25, random_state=1)

In [18]:
#linear regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_2015_train,y_2015_train)

LinearRegression()

In [19]:
#check accuracy
print("print accuracy:",reg.score(x_2015_test,y_2015_test))

print accuracy: 0.761329924814806

In [20]:
#linear regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_2016_train,y_2016_train)

LinearRegression()

In [21]:
#check accuracy
print("print accuracy:",reg.score(x_2016_test,y_2016_test))
#explain how the three columns we chose, score economy family health, has less of an effect on the happiness score when other factors would come in

print accuracy: 0.7357528750143769