In [55]:
# Import our dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [56]:
#load in files
clean2015 = pd.read_csv("https://raw.githubusercontent.com/hajaf/final-Project/Clarissa/cleaned_2015.csv")
clean2016 = pd.read_csv("https://raw.githubusercontent.com/hajaf/final-Project/Clarissa/cleaned_2016.csv")

In [57]:
clean2015.head()

,Country,Region,Ranking,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Switzerland,Western Europe,1,7.587,1.397,1.350,0.941,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.302,1.402,0.948,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.325,1.361,0.875,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.459,1.331,0.885,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.326,1.323,0.906,0.63297,0.32957,0.45811,2.45176

In [58]:
clean2016.head()

,Country,Region,Ranking,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Denmark,Western Europe,1,7.526,1.442,1.164,0.795,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.527,1.145,0.863,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.427,1.183,0.867,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.577,1.127,0.796,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.406,1.135,0.811,0.57104,0.41004,0.25492,2.82596

## Drop unnecessary columns

In [59]:
clean2015.drop(["Country", "Ranking"], axis=1,inplace=True)
clean2016.drop(["Country", "Ranking"], axis=1,inplace=True)

In [60]:
#Check that columns dropped
clean2015.head()

,Region,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Western Europe,7.587,1.397,1.350,0.941,0.66557,0.41978,0.29678,2.51738
1,Western Europe,7.561,1.302,1.402,0.948,0.62877,0.14145,0.43630,2.70201
2,Western Europe,7.527,1.325,1.361,0.875,0.64938,0.48357,0.34139,2.49204
3,Western Europe,7.522,1.459,1.331,0.885,0.66973,0.36503,0.34699,2.46531
4,North America,7.427,1.326,1.323,0.906,0.63297,0.32957,0.45811,2.45176

In [61]:
clean2016.head()

,Region,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual
0,Western Europe,7.526,1.442,1.164,0.795,0.57941,0.44453,0.36171,2.73939
1,Western Europe,7.509,1.527,1.145,0.863,0.58557,0.41203,0.28083,2.69463
2,Western Europe,7.501,1.427,1.183,0.867,0.56624,0.14975,0.47678,2.83137
3,Western Europe,7.498,1.577,1.127,0.796,0.59609,0.35776,0.37895,2.66465
4,Western Europe,7.413,1.406,1.135,0.811,0.57104,0.41004,0.25492,2.82596

## Enocde Region Column

In [62]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(clean2015[['Region']]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(['Region'])
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Region_Australia and New Zealand,Region_Central and Eastern Europe,Region_Eastern Asia,Region_Latin America and Caribbean,Region_Middle East and Northern Africa,Region_North America,Region_Southeastern Asia,Region_Southern Asia,Region_Sub-Saharan Africa,Region_Western Europe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [63]:
# Merge one-hot encoded features and drop the originals
clean2015 = clean2015.merge(encode_df,left_index=True,right_index=True)
clean2015 = clean2015.drop(['Region'],1)
clean2015.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual,Region_Australia and New Zealand,Region_Central and Eastern Europe,Region_Eastern Asia,Region_Latin America and Caribbean,Region_Middle East and Northern Africa,Region_North America,Region_Southeastern Asia,Region_Southern Asia,Region_Sub-Saharan Africa,Region_Western Europe
0,7.587,1.397,1.350,0.941,0.66557,0.41978,0.29678,2.51738,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,7.561,1.302,1.402,0.948,0.62877,0.14145,0.43630,2.70201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,7.527,1.325,1.361,0.875,0.64938,0.48357,0.34139,2.49204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,7.522,1.459,1.331,0.885,0.66973,0.36503,0.34699,2.46531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,7.427,1.326,1.323,0.906,0.63297,0.32957,0.45811,2.45176,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [64]:
#Encode the Region column for clean2016 dataframe
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(clean2016[['Region']]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(['Region'])
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Region_Australia and New Zealand,Region_Central and Eastern Europe,Region_Eastern Asia,Region_Latin America and Caribbean,Region_Middle East and Northern Africa,Region_North America,Region_Southeastern Asia,Region_Southern Asia,Region_Sub-Saharan Africa,Region_Western Europe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [65]:
# Merge one-hot encoded features and drop the originals
clean2016 = clean2016.merge(encode_df,left_index=True,right_index=True)
clean2016 = clean2016.drop(['Region'],1)
clean2016.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Score,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia_Residual,Region_Australia and New Zealand,Region_Central and Eastern Europe,Region_Eastern Asia,Region_Latin America and Caribbean,Region_Middle East and Northern Africa,Region_North America,Region_Southeastern Asia,Region_Southern Asia,Region_Sub-Saharan Africa,Region_Western Europe
0,7.526,1.442,1.164,0.795,0.57941,0.44453,0.36171,2.73939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,7.509,1.527,1.145,0.863,0.58557,0.41203,0.28083,2.69463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,7.501,1.427,1.183,0.867,0.56624,0.14975,0.47678,2.83137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,7.498,1.577,1.127,0.796,0.59609,0.35776,0.37895,2.66465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,7.413,1.406,1.135,0.811,0.57104,0.41004,0.25492,2.82596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Slice the Data

In [66]:
#Set the feature and target columns
X_clean2015 = clean2015.drop(columns=["Score"]).values
y_clean2015 = clean2015.Score.values

X_clean2016 = clean2016.drop(columns=["Score"]).values
y_clean2016 = clean2016.Score.values

In [67]:
#Test Train Split
from sklearn.model_selection import train_test_split
#2015
X_2015_train, X_2015_test, y_2015_train, y_2015_test = train_test_split(X_clean2015,y_clean2015, test_size=0.25, random_state=1)
#2016
X_2016_train, X_2016_test, y_2016_train, y_2016_test = train_test_split(X_clean2016,y_clean2016, test_size=0.25, random_state=1)

In [68]:
#Create a Linear Regression Instance for 2015 data
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_2015_train,y_2015_train)

LinearRegression()

In [69]:
#check accuracy
print("print accuracy:",reg.score(X_2015_test,y_2015_test))

print accuracy: 0.99999978173301

In [70]:
#Run the model for 2016 data
reg.fit(X_2016_train,y_2016_train)

LinearRegression()

In [71]:
#check accuracy
print("print accuracy:",reg.score(X_2016_test,y_2016_test))

print accuracy: 0.9999996090041731